.memory {
    margin-top: 5%;
}

.storage {
    margin-top: 5%;
}

.delivery {
    margin-top: 5%;
}

.price-Table-container {
    margin-top: 5%;
}

.promo-code-container {
    margin-top: 2%;
}

footer {
    margin-top: 3%;
}